body {
    background-color: #232323;
    color: white;
}

h1 {
    color: white;
}

#nav {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background-color: blue; 
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
}

